# Web framework
fastapi==0.115.12
uvicorn[standard]==0.34.2

# ORM e banco de dados
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
alembic==1.15.2

# Variáveis de ambiente
python-dotenv==1.1.0

# Autenticação
python-jose[cryptography]==3.4.0
passlib[bcrypt]==1.7.4

# Validação / schemas
pydantic[email]==2.11.3
pydantic-settings==2.9.1
